
@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" href="~/Content/card-styles/cardstyles.css" />

<form action="@Url.Action("Store")" method="post">
    <div class="card-container ">
        <div class="row">

            @section css{
                <link href="~/Content/css/Index Home/HomeIndex.css" />
            }
 
            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="~/Content/" alt="Card image cap">
                    <div class="card-block">
                        <p class="card-text text-center">
                            Cerveja Skol
                        </p>
                    </div>
                    <ul>
                        <li class="list-group-item px-0">R$20,50</li>
                    </ul>
                    <div class="row">
                        <a class="btn-round btn-success btn-sm float-lg-right" href="/Compra/index">Comprar</a>

                        <a class="btn-round btn-warning btn-sm float-lg-right" href="#">Adicionar no Carrinho</a>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="" alt="Card image cap">
                    <div class="card-block">
                        <p class="card-text text-center">
                            Cerveja Kaiser
                        </p>
                    </div>
                    <ul>
                        <li class="list-group-item px-0">R$28,67</li>
                    </ul>
                    <div class="row">
                        <a class="btn-round btn-success btn-sm float-lg-right" href="/Compra/index">Comprar</a>

                        <a class="btn-round btn-warning btn-sm float-lg-right" href="#">Adicionar no Carrinho</a>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="" alt="Card image cap">
                    <div class="card-block">
                        <p class="card-text text-center">
                            Cerveja Heineken
                        </p>
                    </div>
                    <ul>
                        <li class="list-group-item px-0">R$48,90</li>
                    </ul>
                    <div class="row">
                        <a class="btn-round btn-success btn-sm float-lg-right" href="/Compra/index">Comprar</a>

                        <a class="btn-round btn-warning btn-sm float-lg-right" href="#">Adicionar no Carrinho</a>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="" alt="Card image cap">
                    <div class="card-block">
                        <p class="card-text text-center">
                            Suco DEL VALLE 100% Laranja 1L
                        </p>
                    </div>
                    <ul>
                        <li class="list-group-item px-0">R$9,19</li>
                    </ul>
                    <div class="row">
                        <a class="btn-round btn-success btn-sm float-lg-right" href="/Compra/index">Comprar</a>

                        <a class="btn-round btn-warning btn-sm float-lg-right" href="#">Adicionar no Carrinho</a>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="" alt="Card image cap">
                    <div class="card-block">
                        <p class="card-text text-center">
                            Néctar DEL VALLE Pêssego Light 290ml
                        </p>
                    </div>
                    <ul>
                        <li class="list-group-item px-0">R$3,15</li>
                    </ul>
                    <div class="row">
                        <a class="btn-round btn-success btn-sm float-lg-right" href="/Compra/index">Comprar</a>

                        <a class="btn-round btn-warning btn-sm float-lg-right" href="#">Adicionar no Carrinho</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="" alt="Card image cap">
                    <div class="card-block">
                        <p class="card-text text-center">
                            Néctar de Uva Maguary 1 Litro
                        </p>
                    </div>
                    <ul>
                        <li class="list-group-item px-0">R$4,99</li>
                    </ul>
                    <div class="row">
                        <a class="btn-round btn-success btn-sm float-lg-right" href="/Compra/index">Comprar</a>

                        <a class="btn-round btn-warning btn-sm float-lg-right" href="#">Adicionar no Carrinho</a>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="" alt="Card image cap">
                    <div class="card-block">
                        <p class="card-text text-center">
                            Suco MAGUARY Limonada 1L
                        </p>
                    </div>
                    <ul>
                        <li class="list-group-item px-0">R$7,79</li>
                    </ul>
                    <div class="row">
                        <a class="btn-round btn-success btn-sm float-lg-right" href="/Compra/index">Comprar</a>

                        <a class="btn-round btn-warning btn-sm float-lg-right" href="#">Adicionar no Carrinho</a>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="" alt="Card image cap">
                    <div class="card-block">
                        <p class="card-text text-center">
                            Suco PRATS Laranja Integral 330ml
                        </p>
                    </div>
                    <ul>
                        <li class="list-group-item px-0">R$4,95</li>
                    </ul>
                    <div class="row">
                        <a class="btn-round btn-success btn-sm float-lg-right" href="/Compra/index">Comprar</a>

                        <a class="btn-round btn-warning btn-sm float-lg-right" href="#">Adicionar no Carrinho</a>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="" alt="Card image cap">
                    <div class="card-block">
                        <p class="card-text text-center">
                            Suco PRATS Uva 900ml
                        </p>
                    </div>
                    <ul>
                        <li class="list-group-item px-0">R$7,98</li>
                    </ul>
                    <div class="row">
                        <a class="btn-round btn-success btn-sm float-lg-right" href="/Compra/index">Comprar</a>

                        <a class="btn-round btn-warning btn-sm float-lg-right" href="#">Adicionar no Carrinho</a>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="" alt="Card image cap">
                    <div class="card-block">
                        <p class="card-text text-center">
                            Suco Misto Prats Maçã e Goiaba 900ml
                        </p>
                    </div>
                    <ul>
                        <li class="list-group-item px-0">R$6,98</li>
                    </ul>
                    <div class="row">
                        <a class="btn-round btn-success btn-sm float-lg-right" href="/Compra/index">Comprar</a>

                        <a class="btn-round btn-warning btn-sm float-lg-right" href="#">Adicionar no Carrinho</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="" alt="Card image cap">
                    <div class="card-block">
                        <p class="card-text text-center">
                            Refrigerante Coca Cola Pet 2l
                        </p>
                    </div>
                    <ul>
                        <li class="list-group-item px-0">R$8,35</li>
                    </ul>
                    <div class="row">
                        <a class="btn-round btn-success btn-sm float-lg-right" href="/Compra/index">Comprar</a>

                        <a class="btn-round btn-warning btn-sm float-lg-right" href="#">Adicionar no Carrinho</a>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="" alt="Card image cap">
                    <div class="card-block">
                        <p class="card-text text-center">
                            Refrigerante Coca Cola Sem Açúcar Lata 350 Ml
                        </p>
                    </div>
                    <ul>
                        <li class="list-group-item px-0">R$1,69</li>
                    </ul>
                    <div class="row">
                        <a class="btn-round btn-success btn-sm float-lg-right" href="/Compra/index">Comprar</a>

                        <a class="btn-round btn-warning btn-sm float-lg-right" href="#">Adicionar no Carrinho</a>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="" alt="Card image cap">
                    <div class="card-block">
                        <p class="card-text text-center">
                            Refrigerante ANTARCTICA Guaraná 350ml
                        </p>
                    </div>
                    <ul>
                        <li class="list-group-item px-0">R$2,45</li>
                    </ul>
                    <div class="row">
                        <a class="btn-round btn-success btn-sm float-lg-right" href="/Compra/index">Comprar</a>

                        <a class="btn-round btn-warning btn-sm float-lg-right" href="#">Adicionar no Carrinho</a>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="" alt="Card image cap">
                    <div class="card-block">
                        <p class="card-text text-center">
                            Refrigerante ANTARCTICA Guaraná 350ml
                        </p>
                    </div>
                    <ul>
                        <li class="list-group-item px-0">R$5,49</li>
                    </ul>
                    <div class="row">
                        <a class="btn-round btn-success btn-sm float-lg-right" href="/Compra/index">Comprar</a>

                        <a class="btn-round btn-warning btn-sm float-lg-right" href="#">Adicionar no Carrinho</a>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="" alt="Card image cap">
                    <div class="card-block">
                        <p class="card-text text-center">
                            Pepsi Cola 350ml
                        </p>
                    </div>
                    <ul>
                        <li class="list-group-item px-0">R$2,39</li>
                    </ul>
                    <div class="row">
                        <a class="btn-round btn-success btn-sm float-lg-right" href="/Compra/index">Comprar</a>

                        <a class="btn-round btn-warning btn-sm float-lg-right" href="#">Adicionar no Carrinho</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="" alt="Card image cap">
                    <div class="card-block">
                        <p class="card-text text-center">
                            Refrigerante PEPSI Cola Zero 2L
                        </p>
                    </div>
                    <ul>
                        <li class="list-group-item px-0">R$4,69</li>
                    </ul>
                    <div class="row">
                        <a class="btn-round btn-success btn-sm float-lg-right" href="/Compra/index">Comprar</a>

                        <a class="btn-round btn-warning btn-sm float-lg-right" href="#">Adicionar no Carrinho</a>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="" alt="Card image cap">
                    <div class="card-block">
                        <p class="card-text text-center">
                            Pepsi Twist 350ml
                        </p>
                    </div>
                    <ul>
                        <li class="list-group-item px-0">R$2,56</li>
                    </ul>
                    <div class="row">
                        <a class="btn-round btn-success btn-sm float-lg-right" href="/Compra/index">Comprar</a>

                        <a class="btn-round btn-warning btn-sm float-lg-right" href="#">Adicionar no Carrinho</a>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="card">
                    <img class="card-img-top " src="" alt="Card image cap">
                    <div class="card-block">

                        <p class="card-text">
                            Jack Daniels
                        </p>
                    </div>
                    <ul class="list-group list-group-dividered px-20 mb-0">
                        <li class="list-group-item px-0">350 ml </li>
                        <li class="list-group-item px-0">R$120,09</li>
                    </ul>
                    <div class="row">
                        <a class="btn-round btn-success btn-sm float-lg-right" href="/Compra/index">Comprar</a>

                        <a class="btn-round btn-warning btn-sm float-lg-right" href="#">Adicionar no Carrinho</a>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="card">
                    <img class="card-img-top " src="" alt="Card image cap">
                    <div class="card-block">
                        <p class="card-text">
                            Johnnie Walker
                        </p>
                    </div>
                    <ul class="list-group list-group-dividered px-20 mb-0">
                        <li class="list-group-item px-0">350 ml </li>
                        <li class="list-group-item px-0">R$105,56</li>
                    </ul>
                    <div class="row">
                        <a class="btn-round btn-success btn-sm float-lg-right" href="/Compra/index">Comprar</a>

                        <a class="btn-round btn-warning btn-sm float-lg-right" href="#">Adicionar no Carrinho</a>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="card">
                    <img class="card-img-top " src="" alt="Card image cap">
                    <div class="card-block">
                        <p class="card-text">
                            Famous Grouse
                        </p>
                    </div>
                    <ul class="list-group list-group-dividered px-20 mb-0">
                        <li class="list-group-item px-0">350 ml </li>
                        <li class="list-group-item px-0">R$56,90</li>
                    </ul>
                    <div class="row">
                        <a class="btn-round btn-success btn-sm float-lg-right" href="/Compra/index">Comprar</a>

                        <a class="btn-round btn-warning btn-sm float-lg-right" href="#">Adicionar no Carrinho</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="" alt="Card image cap">
                    <div class="card-block">
                        <p class="card-text text-center">
                            Copo Riegsee Patagonia 500ml
                        </p>
                    </div>
                    <ul>
                        <li class="list-group-item px-0">R$23,90</li>
                    </ul>
                    <div class="row">
                        <a class="btn-round btn-success btn-sm float-lg-right" href="/Compra/index">Comprar</a>

                        <a class="btn-round btn-warning btn-sm float-lg-right" href="#">Adicionar no Carrinho</a>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="" alt="Card image cap">
                    <div class="card-block">
                        <p class="card-text text-center">
                            Taça Bohemia Escura 400ml
                        </p>
                    </div>
                    <ul>
                        <li class="list-group-item px-0">R$19,90</li>
                    </ul>
                    <div class="row">
                        <a class="btn-round btn-success btn-sm float-lg-right" href="/Compra/index">Comprar</a>

                        <a class="btn-round btn-warning btn-sm float-lg-right" href="#">Adicionar no Carrinho</a>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="" alt="Card image cap">
                    <div class="card-block">
                        <p class="card-text text-center">
                            Kit Bolachas de Chopp Cerveja Bohemia 838 Pale Ale - 4 unidades
                        </p>
                    </div>
                    <ul>
                        <li class="list-group-item px-0">R$6,90</li>
                    </ul>
                    <div class="row">
                        <a class="btn-round btn-success btn-sm float-lg-right" href="/Compra/index">Comprar</a>

                        <a class="btn-round btn-warning btn-sm float-lg-right" href="#">Adicionar no Carrinho</a>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="" alt="Card image cap">
                    <div class="card-block">
                        <p class="card-text text-center">
                            Kit Bolachas de Chopp Bohemia 14 Weiss - 4 Unidades
                        </p>
                    </div>
                    <ul>
                        <li class="list-group-item px-0">R$6,90</li>
                    </ul>
                    <div class="row">
                        <a class="btn-round btn-success btn-sm float-lg-right" href="/Compra/index">Comprar</a>

                        <a class="btn-round btn-warning btn-sm float-lg-right" href="#">Adicionar no Carrinho</a>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="" alt="Card image cap">
                    <div class="card-block">
                        <p class="card-text text-center">
                            Abridor de garrafas Budweiser- Fifa
                        </p>
                    </div>
                    <ul>
                        <li class="list-group-item px-0">R$14,90</li>
                    </ul>
                    <div class="row">
                        <a class="btn-round btn-success btn-sm float-lg-right" href="/Compra/index">Comprar</a>

                        <a class="btn-round btn-warning btn-sm float-lg-right" href="#">Adicionar no Carrinho</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="" alt="Card image cap">
                    <div class="card-block">
                        <p class="card-text text-center">
                            Abridor Budweiser
                        </p>
                    </div>
                    <ul>
                        <li class="list-group-item px-0">R$10,90</li>
                    </ul>
                    <div class="row">
                        <a class="btn-round btn-success btn-sm float-lg-right" href="/Compra/index">Comprar</a>

                        <a class="btn-round btn-warning btn-sm float-lg-right" href="#">Adicionar no Carrinho</a>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="" alt="Card image cap">
                    <div class="card-block">
                        <p class="card-text text-center">
                            Vodka Absolut Mango 750ml
                        </p>
                    </div>
                    <ul>
                        <li class="list-group-item px-0">R$85,90</li>
                    </ul>
                    <div class="row">
                        <a class="btn-round btn-success btn-sm float-lg-right" href="/Compra/index">Comprar</a>

                        <a class="btn-round btn-warning btn-sm float-lg-right" href="#">Adicionar no Carrinho</a>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="" alt="Card image cap">
                    <div class="card-block">
                        <p class="card-text text-center">
                            Vodka Absolut Regular 1L
                        </p>
                    </div>
                    <ul>
                        <li class="list-group-item px-0">R$99,90</li>
                    </ul>
                    <div class="row">
                        <a class="btn-round btn-success btn-sm float-lg-right" href="/Compra/index">Comprar</a>

                        <a class="btn-round btn-warning btn-sm float-lg-right" href="#">Adicionar no Carrinho</a>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="" alt="Card image cap">
                    <div class="card-block">
                        <p class="card-text text-center">
                            Vodka Skyy 980ml
                        </p>
                    </div>
                    <ul>
                        <li class="list-group-item px-0">R$30,69</li>
                    </ul>
                    <div class="row">
                        <a class="btn-round btn-success btn-sm float-lg-right" href="/Compra/index">Comprar</a>

                        <a class="btn-round btn-warning btn-sm float-lg-right" href="#">Adicionar no Carrinho</a>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="" alt="Card image cap">
                    <div class="card-block">
                        <p class="card-text text-center">
                            Vodka Skyy Infusions Abacaxi 750ml
                        </p>
                    </div>
                    <ul>
                        <li class="list-group-item px-0">R$28,95</li>
                    </ul>
                    <div class="row">
                        <a class="btn-round btn-success btn-sm float-lg-right" href="/Compra/index">Comprar</a>

                        <a class="btn-round btn-warning btn-sm float-lg-right" href="#">Adicionar no Carrinho</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="" alt="Card image cap">
                    <div class="card-block">
                        <p class="card-text text-center">
                            Vodka Smirnoff 1,75l
                        </p>
                    </div>
                    <ul>
                        <li class="list-group-item px-0">R$46,95</li>
                    </ul>
                    <div class="row">
                        <a class="btn-round btn-success btn-sm float-lg-right" href="/Compra/index">Comprar</a>

                        <a class="btn-round btn-warning btn-sm float-lg-right" href="#">Adicionar no Carrinho</a>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="" alt="Card image cap">
                    <div class="card-block">
                        <p class="card-text text-center">
                            Vodka Syn Limão 300ml
                        </p>
                    </div>
                    <ul>
                        <li class="list-group-item px-0">R$2,59</li>
                    </ul>
                    <div class="row">
                        <a class="btn-round btn-success btn-sm float-lg-right" href="/Compra/index">Comprar</a>

                        <a class="btn-round btn-warning btn-sm float-lg-right" href="#">Adicionar no Carrinho</a>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="" alt="Card image cap">
                    <div class="card-block">
                        <p class="card-text text-center">
                            Água Mineral Crystal Sem Gás 500ml
                        </p>
                    </div>
                    <ul>
                        <li class="list-group-item px-0">R$2,99</li>
                    </ul>
                    <div class="row">
                        <a class="btn-round btn-success btn-sm float-lg-right" href="/Compra/index">Comprar</a>

                        <a class="btn-round btn-warning btn-sm float-lg-right" href="#">Adicionar no Carrinho</a>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="" alt="Card image cap">
                    <div class="card-block">
                        <p class="card-text text-center">
                            Água Mineral com Gás Crystal 500ml
                        </p>
                    </div>
                    <ul>
                        <li class="list-group-item px-0">R$2,29</li>
                    </ul>
                    <div class="row">
                        <a class="btn-round btn-success btn-sm float-lg-right" href="/Compra/index">Comprar</a>

                        <a class="btn-round btn-warning btn-sm float-lg-right" href="#">Adicionar no Carrinho</a>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="" alt="Card image cap">
                    <div class="card-block">
                        <p class="card-text text-center">
                            Água Mineral com Gás Crystal 500ml
                        </p>
                    </div>
                    <ul>
                        <li class="list-group-item px-0">R$2,29</li>
                    </ul>
                    <div class="row">
                        <a class="btn-round btn-success btn-sm float-lg-right" href="/Compra/index">Comprar</a>

                        <a class="btn-round btn-warning btn-sm float-lg-right" href="#">Adicionar no Carrinho</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="" alt="Card image cap">
                    <div class="card-block">
                        <p class="card-text text-center">
                            Água Mineral VOSS sem Gás 850ml
                        </p>
                    </div>
                    <ul>
                        <li class="list-group-item px-0">R$17,50</li>
                    </ul>
                    <div class="row">
                        <a class="btn-round btn-success btn-sm float-lg-right" href="/Compra/index">Comprar</a>

                        <a class="btn-round btn-warning btn-sm float-lg-right" href="#">Adicionar no Carrinho</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>



