
@{
    ViewBag.Title = "Cadastro";
}

<form action="@Url.Action("Store")" method="post">
    <div class="container">
        <h2 class="col-md-12 text-center">Tipos</h2>
        <br />
        <div class="row">

            <div class="col-6">

                <div class="form-group">
                    <label for="campo-nome">Tipo</label>
                    <input id="campo-nome" name="nome" class="form-control" required="required" type="text" placeholder="Digite o tipo da Bebida" />

                </div>
            </div>

            <div class="col-6">

                <div class="form-group">
                    <label for="tipo-cadastro-marca">Marca</label>
                    <select class="form-control" id="campo-marca" name="idMarca" required="required">
                        <option disabled selected>Selecione Alguma Marca</option>
                        @foreach (Model.Marca marca in ViewBag.Marcas)
                        {
                            if (marca.RegistroAtivo == true)
                            {
                                <option value="@marca.Id">@marca.Nome</option>
                            }

                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-12">
                <br />
                <br />
                <button type="submit" class="btn btn-outline-success float-lg-right m-5">Cadastrar</button>

                <a class="btn btn-outline-success float-lg-right m-5" href="@Url.Action("Index")">Ir para lista de Tipos</a>
            </div>
        </div>

    </div>
</form>