
@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>

<form action="@Url.Action("Index")" method="post">
    <input type="hidden" name="id" value="@ViewBag.Tipo.Id" />

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo-nome">Nome</label>
                <input type="Text" name="nome" id="campo-nome" class="form-control"
                       value="@ViewBag.Tipo.Nome" required maxlength="45" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <button class="btn btn-success float-right" type="submit">
                <i class="fas fa-save"></i> Editar
            </button>
        </div>
    </div>
</form>