
@{
    ViewBag.Title = "Cadastro";
}

    <div class="container">
        <form action="/usuario/cadastro" method="post">
            <h2 class="col-md-12 text-center">BEBIDAS</h2>
        </form>

        <div class="form-group">
            <label for="campo-nome">Cadastro</label>
            <input class="form-control" id="campo-nome" name="nome" required="required" type="text" placeholder="Marca" />
        </div>

        <div class="form-group">
            <label for="campo-telefone">Valor da Bebida</label>
            <input class="form-control" id="campo-valor" name="telefone" required="required" type="text" placeholder="Valor da bebida" />
        </div>

        <div class="form-group">
            <label for="campo-telefone">Tipo da bebida</label>
            <input class="form-control" id="campo-tipo" name="Tipo" required="required" type="text" placeholder="Tipo da bebida  " />
        </div>

        <button type="submit" class="btn btn-primary col-md-12">Cadastrar</button>
    </div>





