<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="bootstrap material admin template">
    <meta name="author" content="">

    <title>Dashboard | Remark Material Admin Template</title>

    <link rel="apple-touch-icon" href="~/Content/tema/assets/images/apple-touch-icon.png">
    <link rel="shortcut icon" href="~/Content/tema/assets/images/favicon.ico">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/Content/tema/global/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/tema/global/css/bootstrap-extend.min.css">
    <link rel="stylesheet" href="~/Content/tema/assets/css/site.min.css">

    <!-- Plugins -->
    <link rel="stylesheet" href="~/Content/tema/global/vendor/animsition/animsition.css">
    <link rel="stylesheet" href="~/Content/tema/global/vendor/asscrollable/asScrollable.css">
    <link rel="stylesheet" href="~/Content/tema/global/vendor/switchery/switchery.css">
    <link rel="stylesheet" href="~/Content/tema/global/vendor/intro-js/introjs.css">
    <link rel="stylesheet" href="~/Content/tema/global/vendor/slidepanel/slidePanel.css">
    <link rel="stylesheet" href="~/Content/tema/global/vendor/flag-icon-css/flag-icon.css">
    <link rel="stylesheet" href="~/Content/tema/global/vendor/waves/waves.css">
    <link rel="stylesheet" href="~/Content/tema/global/vendor/chartist/chartist.css">
    <link rel="stylesheet" href="~/Content/tema/global/vendor/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="~/Content/tema/global/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.css">
    <link rel="stylesheet" href="~/Content/tema/assets/examples/css/dashboard/v1.css">


    <!-- Fonts -->
    <link rel="stylesheet" href="~/Content/tema/global/fonts/material-design/material-design.min.css">
    <link rel="stylesheet" href="~/Content/tema/global/fonts/brand-icons/brand-icons.min.css">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>

    <!--Locastyle para mascara-->
    <link rel="stylesheet" type="text/css" href="//assets.locaweb.com.br/locastyle/2.0.6/stylesheets/locastyle.css">

    <!--[if lt IE 9]>
      <script src="~/Content/tema/global/vendor/html5shiv/html5shiv.min.js"></script>
      <![endif]-->
    <!--[if lt IE 10]>
      <script src="~/Content/tema/global/vendor/media-match/media.match.min.js"></script>
      <script src="~/Content/tema/global/vendor/respond/respond.min.js"></script>
      <![endif]-->
    <!-- Scripts -->
    <script src="~/Content/tema/global/vendor/breakpoints/breakpoints.js"></script>
    <script>
        Breakpoints();
    </script>
</head>

<body class="animsition dashboard">
    <!--[if lt IE 8]>
          <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->

    <nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega navbar-inverse" role="navigation">

        <div class="navbar-header">
            <button type="button" class="navbar-toggler hamburger hamburger-close navbar-toggler-left hided"
                    data-toggle="menubar">
                <span class="sr-only">Toggle navigation</span>
                <span class="hamburger-bar"></span>
            </button>
            <button type="button" class="navbar-toggler collapsed" data-target="#site-navbar-collapse" data-toggle="collapse">
                <i class="icon md-more" aria-hidden="true"></i>
            </button>
            <div class="navbar-brand navbar-brand-center site-gridmenu-toggle" data-toggle="gridmenu">
                <img class="navbar-brand-logo" src="~/Content/tema/assets/images/logo.png" title="Remark">
                <span class="navbar-brand-text hidden-xs-down"> Remark</span>
            </div>
            <button type="button" class="navbar-toggler collapsed" data-target="#site-navbar-search" data-toggle="collapse">
                <span class="sr-only">Toggle Search</span>
                <i class="icon md-search" aria-hidden="true"></i>
            </button>
        </div>

        <div class="navbar-container container-fluid">
            <!-- Navbar Collapse -->
            <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
                <!-- Navbar Toolbar -->
                <ul class="nav navbar-toolbar">
                    <li class="nav-item hidden-float" id="toggleMenubar">
                        <a class="nav-link" data-toggle="menubar" href="#" role="button">
                            <i class="icon hamburger hamburger-arrow-left">
                                <span class="sr-only">Toggle menubar</span>
                                <span class="hamburger-bar"></span>
                            </i>
                        </a>
                    </li>
                    <li class="nav-item hidden-float">
                        <a class="nav-link icon md-search" data-toggle="collapse" href="#" data-target="#site-navbar-search"
                           role="button">

                            <span class="sr-only">Toggle Search</span>
                        </a>
                    </li>

                    <div class="dropdown-menu" role="menu">
                        <div class="mega-content">
                            <div class="row">
                                <div class="col-md-4">
                                    <h5>UI Kit</h5>
                                    <ul class="blocks-2">
                                        <li class="mega-menu m-0">
                                            <ul class="list-icons">
                                                <li>
                                                    <i class="md-chevron-right" aria-hidden="true"></i><a href="advanced/animation.html">Animation</a>
                                                </li>
                                                <li>
                                                    <i class="md-chevron-right" aria-hidden="true"></i><a href="uikit/buttons.html">Buttons</a>
                                                </li>
                                                <li>
                                                    <i class="md-chevron-right" aria-hidden="true"></i><a href="uikit/colors.html">Colors</a>
                                                </li>
                                                <li>
                                                    <i class="md-chevron-right" aria-hidden="true"></i><a href="uikit/dropdowns.html">Dropdowns</a>
                                                </li>
                                                <li><i class="md-chevron-right" aria-hidden="true"></i><a href="uikit/icons.html">Icons</a></li>
                                                <li>
                                                    <i class="md-chevron-right" aria-hidden="true"></i><a href="advanced/lightbox.html">Lightbox</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="mega-menu m-0">
                                            <ul class="list-icons">
                                                <li>
                                                    <i class="md-chevron-right" aria-hidden="true"></i><a href="uikit/modals.html">Modals</a>
                                                </li>
                                                <li>
                                                    <i class="md-chevron-right" aria-hidden="true"></i><a href="uikit/panel-structure.html">Panels</a>
                                                </li>
                                                <li>
                                                    <i class="md-chevron-right" aria-hidden="true"></i><a href="structure/overlay.html">Overlay</a>
                                                </li>
                                                <li>
                                                    <i class="md-chevron-right" aria-hidden="true"></i><a href="uikit/tooltip-popover.html ">Tooltips</a>
                                                </li>
                                                <li>
                                                    <i class="md-chevron-right" aria-hidden="true"></i><a href="advanced/scrollable.html">Scrollable</a>
                                                </li>
                                                <li>
                                                    <i class="md-chevron-right" aria-hidden="true"></i><a href="uikit/typography.html">Typography</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <h5>
                                        Media
                                        <span class="badge badge-pill badge-success">4</span>
                                    </h5>
                                    <ul class="blocks-3">
                                        <li>
                                            <a class="thumbnail m-0" href="javascript:void(0)">
                                                <img class="w-full" src="~/Content/tema/global/photos/placeholder.png" alt="..." />
                                            </a>
                                        </li>
                                        <li>
                                            <a class="thumbnail m-0" href="javascript:void(0)">
                                                <img class="w-full" src="~/Content/tema/global/photos/placeholder.png" alt="..." />
                                            </a>
                                        </li>
                                        <li>
                                            <a class="thumbnail m-0" href="javascript:void(0)">
                                                <img class="w-full" src="~/Content/tema/global/photos/placeholder.png" alt="..." />
                                            </a>
                                        </li>
                                        <li>
                                            <a class="thumbnail m-0" href="javascript:void(0)">
                                                <img class="w-full" src="~/Content/tema/global/photos/placeholder.png" alt="..." />
                                            </a>
                                        </li>
                                        <li>
                                            <a class="thumbnail m-0" href="javascript:void(0)">
                                                <img class="w-full" src="~/Content/tema/global/photos/placeholder.png" alt="..." />
                                            </a>
                                        </li>
                                        <li>
                                            <a class="thumbnail m-0" href="javascript:void(0)">
                                                <img class="w-full" src="~/Content/tema/global/photos/placeholder.png" alt="..." />
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <h5 class="mb-0">Accordion</h5>
                                    <!-- Accordion -->
                                    <div class="panel-group panel-group-simple" id="siteMegaAccordion" aria-multiselectable="true"
                                         role="tablist">
                                        <div class="panel">
                                            <div class="panel-heading" id="siteMegaAccordionHeadingOne" role="tab">
                                                <a class="panel-title" data-toggle="collapse" href="#siteMegaCollapseOne"
                                                   data-parent="#siteMegaAccordion" aria-expanded="false" aria-controls="siteMegaCollapseOne">
                                                    Collapsible Group Item #1
                                                </a>
                                            </div>
                                            <div class="panel-collapse collapse" id="siteMegaCollapseOne"
                                                 aria-labelledby="siteMegaAccordionHeadingOne" role="tabpanel">
                                                <div class="panel-body">
                                                    De moveat laudatur vestra parum doloribus labitur sentire partes, eripuit praesenti
                                                    congressus ostendit alienae, voluptati ornateque accusamus
                                                    clamat reperietur convicia albucius.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="panel-heading" id="siteMegaAccordionHeadingTwo" role="tab">
                                                <a class="panel-title collapsed" data-toggle="collapse" href="#siteMegaCollapseTwo"
                                                   data-parent="#siteMegaAccordion" aria-expanded="false" aria-controls="siteMegaCollapseTwo">
                                                    Collapsible Group Item #2
                                                </a>
                                            </div>
                                            <div class="panel-collapse collapse" id="siteMegaCollapseTwo"
                                                 aria-labelledby="siteMegaAccordionHeadingTwo" role="tabpanel">
                                                <div class="panel-body">
                                                    Praestabiliorem. Pellat excruciant legantur ullum leniter vacare foris voluptate
                                                    loco ignavi, credo videretur multoque choro fatemur mortis
                                                    animus adoptionem, bello statuat expediunt naturales.
                                                </div>
                                            </div>
                                        </div>

                                        <div class="panel">
                                            <div class="panel-heading" id="siteMegaAccordionHeadingThree" role="tab">
                                                <a class="panel-title collapsed" data-toggle="collapse" href="#siteMegaCollapseThree"
                                                   data-parent="#siteMegaAccordion" aria-expanded="false" aria-controls="siteMegaCollapseThree">
                                                    Collapsible Group Item #3
                                                </a>
                                            </div>
                                            <div class="panel-collapse collapse" id="siteMegaCollapseThree"
                                                 aria-labelledby="siteMegaAccordionHeadingThree" role="tabpanel">
                                                <div class="panel-body">
                                                    Horum, antiquitate perciperet d conspectum locus obruamus animumque perspici probabis
                                                    suscipere. Desiderat magnum, contenta poena desiderant
                                                    concederetur menandri damna disputandum corporum.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Accordion -->
                                </div>
                            </div>
                        </div>
                    </div>
                    </li>
                </ul>
                <div>
                    <button type="button" class="btn btn-outline-success float-lg-right" style="margin-top:15px;">Cadastrar</button>

                    <button type="button" class="btn btn-outline-success float-lg-right" style="margin-top:15px;">Login</button>

                </div>
                <!-- End Navbar Toolbar -->
                <!-- Navbar Toolbar Right -->
                <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
                </ul>
                <!-- End Navbar Toolbar Right -->
                <!-- End Navbar Collapse -->
                <!-- Site Navbar Seach -->
                <div class="collapse navbar-search-overlap" id="site-navbar-search">
                    <form role="search">
                        <div class="form-group">
                            <div class="input-search">
                                <i class="input-search-icon md-search" aria-hidden="true"></i>
                                <input type="text" class="form-control" name="site-search" placeholder="Search...">
                                <button type="button" class="input-search-close icon md-close" data-target="#site-navbar-search"
                                        data-toggle="collapse" aria-label="Close"></button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- End Site Navbar Seach -->
            </div>
    </nav>
    <div class="site-menubar">
        <div class="site-menubar-body">
            <div>
                <div>
                    <ul class="site-menu" data-plugin="menu">
                        <li class="site-menu-item active">
                            <a class="animsition-link" href="/">
                                <i class="site-menu-icon md-view-dashboard" aria-hidden="true"></i>
                                <span class="site-menu-title">Home</span>
                            </a>
                        </li>

                        <li class="site-menu-item has-sub">
                            <a href="javascript:void(0)">
                                <i class="site-menu-icon md-view-compact" aria-hidden="true"></i>
                                <span class="site-menu-title">Clientes</span>
                                <span class="site-menu-arrow"></span>
                            </a>
                            <ul class="site-menu-sub">
                                <li class="site-menu-item">
                                    <a class="animsition-link" href="/cliente/index">
                                        <span class="site-menu-title">Lista</span>
                                    </a>
                                </li>
                                <li class="site-menu-item">
                                    <a class="animsition-link" href="/cliente/cadastro">
                                        <span class="site-menu-title">Cadastro</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="site-menu-item has-sub">
                            <a href="javascript:void(0)">
                                <i class="site-menu-icon md-view-compact" aria-hidden="true"></i>
                                <span class="site-menu-title">Bebidas</span>
                                <span class="site-menu-arrow"></span>
                            </a>
                            <ul class="site-menu-sub">
                                <li class="site-menu-item">
                                    <a class="animsition-link" href="/bebida/index">
                                        <span class="site-menu-title">Lista</span>
                                    </a>
                                </li>
                                <li class="site-menu-item">
                                    <a class="animsition-link" href="/bebida/cadastro">
                                        <span class="site-menu-title">Cadastro</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="site-menu-item has-sub">
                            <a href="javascript:void(0)">
                                <i class="site-menu-icon md-view-compact" aria-hidden="true"></i>
                                <span class="site-menu-title">Tipos</span>
                                <span class="site-menu-arrow"></span>
                            </a>
                            <ul class="site-menu-sub">
                                <li class="site-menu-item">
                                    <a class="animsition-link" href="/tipo/index">
                                        <span class="site-menu-title">Lista</span>
                                    </a>
                                </li>
                                <li class="site-menu-item">
                                    <a class="animsition-link" href="/tipo/cadastro">
                                        <span class="site-menu-title">Cadastro</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="site-menu-item has-sub">
                            <a href="javascript:void(0)">
                                <i class="site-menu-icon md-view-compact" aria-hidden="true"></i>
                                <span class="site-menu-title">Marcas</span>
                                <span class="site-menu-arrow"></span>
                            </a>
                            <ul class="site-menu-sub">
                                <li class="site-menu-item">
                                    <a class="animsition-link" href="/marca/index">
                                        <span class="site-menu-title">Lista</span>
                                    </a>
                                </li>
                                <li class="site-menu-item">
                                    <a class="animsition-link" href="/marca/cadastro">
                                        <span class="site-menu-title">Cadastro</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="site-menu-item has-sub">
                            <a href="javascript:void(0)">
                                <i class="site-menu-icon md-view-compact" aria-hidden="true"></i>
                                <span class="site-menu-title">Acessórios</span>
                                <span class="site-menu-arrow"></span>
                            </a>

                            <ul class="site-menu-sub">
                                <li class="site-menu-item">
                                    <a class="animsition-link" href="/cliente/index">
                                        <span class="site-menu-title">Taças e Copos</span>
                                    </a>
                                </li>
                                <li class="site-menu-item">
                                    <a class="animsition-link" href="/cliente/cadastro">
                                        <span class="site-menu-title">Baldes e Porta Cerveja</span>
                                    </a>
                                </li>
                                <li class="site-menu-item">
                                    <a class="animsition-link" href="/cliente/index">
                                        <span class="site-menu-title">Utensílios para Churrasco</span>
                                    </a>
                                </li>
                                <li class="site-menu-item">
                                    <a class="animsition-link" href="/cliente/index">
                                        <span class="site-menu-title">Abridores de Garrafa</span>
                                    </a>
                                </li>
                                <li class="site-menu-item">
                                    <a class="animsition-link" href="/cliente/index">
                                        <span class="site-menu-title">Outros Acessórios</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="site-menu-item has-sub">
                            <a href="javascript:void(0)">
                                <i class="site-menu-icon md-view-compact" aria-hidden="true"></i>
                                <span class="site-menu-title">Outros</span>
                                <span class="site-menu-arrow"></span>
                            </a>
                            <ul class="site-menu-sub">
                                <li class="site-menu-item">
                                    <a class="animsition-link" href="/cliente/index">
                                        <span class="site-menu-title">Refrigerantes</span>
                                    </a>
                                </li>
                                <li class="site-menu-item">
                                    <a class="animsition-link" href="/cliente/cadastro">
                                        <span class="site-menu-title">Sucos</span>
                                    </a>
                                </li>
                                <li class="site-menu-item">
                                    <a class="animsition-link" href="/cliente/index">
                                        <span class="site-menu-title">Energéticos</span>
                                    </a>
                                </li>
                                <li class="site-menu-item">
                                    <a class="animsition-link" href="/cliente/index">
                                        <span class="site-menu-title">Destilados</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Page -->
    <div class="page">
        <div class="page-content container-fluid">
            <div data-plugin="matchHeight" data-by-row="true">
                @RenderBody()
            </div>
        </div>
    </div>
    <!-- End Page -->
    <!-- Footer -->
    <footer class="site-footer">
        <div class="site-footer-legal">
            Trabalho Entra 21 - 2019 <a href="http://themeforest.net/item/remark-responsive-bootstrap-admin-template/11989202"></a>
        </div>

    </footer>

    <!-- Core  -->
    <script src="~/Content/tema/global/vendor/babel-external-helpers/babel-external-helpers.js"></script>
    <script src="~/Content/tema/global/vendor/jquery/jquery.js"></script>
    <script src="~/Content/tema/global/vendor/popper-js/umd/popper.min.js"></script>

    <!--Locastyle para mascara-->
    <script type="text/javascript" src="//assets.locaweb.com.br/locastyle/2.0.6/javascripts/locastyle.js"></script>

    <script src="~/Content/tema/global/vendor/bootstrap/bootstrap.js"></script>
    <script src="~/Content/tema/global/vendor/animsition/animsition.js"></script>
    <script src="~/Content/tema/global/vendor/mousewheel/jquery.mousewheel.js"></script>
    <script src="~/Content/tema/global/vendor/asscrollbar/jquery-asScrollbar.js"></script>
    <script src="~/Content/tema/global/vendor/asscrollable/jquery-asScrollable.js"></script>
    <script src="~/Content/tema/global/vendor/waves/waves.js"></script>

    <!-- Plugins -->
    <script src="~/Content/tema/global/vendor/switchery/switchery.js"></script>
    <script src="~/Content/tema/global/vendor/intro-js/intro.js"></script>
    <script src="~/Content/tema/global/vendor/screenfull/screenfull.js"></script>
    <script src="~/Content/tema/global/vendor/slidepanel/jquery-slidePanel.js"></script>


    <!-- Scripts -->
    <script src="~/Content/tema/global/js/Component.js"></script>
    <script src="~/Content/tema/global/js/Plugin.js"></script>
    <script src="~/Content/tema/global/js/Base.js"></script>
    <script src="~/Content/tema/global/js/Config.js"></script>

    <script src="~/Content/tema/assets/js/Section/Menubar.js"></script>
    <script src="~/Content/tema/assets/js/Section/Sidebar.js"></script>
    <script src="~/Content/tema/assets/js/Section/PageAside.js"></script>
    <script src="~/Content/tema/assets/js/Plugin/menu.js"></script>

    <!-- Config -->
    <script src="~/Content/tema/global/js/config/colors.js"></script>
    <script src="~/Content/tema/assets/js/config/tour.js"></script>
    <script>Config.set('assets', 'assets');</script>

    <!-- Page -->
    <script src="~/Content/tema/assets/js/Site.js"></script>
    <script src="~/Content/tema/global/js/Plugin/asscrollable.js"></script>
    <script src="~/Content/tema/global/js/Plugin/slidepanel.js"></script>
    <script src="~/Content/tema/global/js/Plugin/switchery.js"></script>
    <script src="~/Content/tema/global/js/Plugin/matchheight.js"></script>
    <script src="~/Content/tema/global/js/Plugin/jvectormap.js"></script>
    <script src="~/Content/tema/global/js/Plugin/peity.js"></script>

    <script src="~/Content/tema/assets/examples/js/dashboard/v1.js"></script>

    @RenderSection("Scripts", required: false);
</body>

</html>