
@{
    ViewBag.Title = "Cadastro";
}
<h3>Cadastro de Categoria</h3>

<form action="@Url.Action("Index")" method="post">

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo-nome">Nome</label>
                <input class="form-control" type="text" name="nome" id="campo-nome" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <button class="btn btn-success float-right" type="submit"><i class="fas fa-save"></i> Salvar</button>
        </div>
    </div>
</form>
