
@{
    ViewBag.Title = "Cadastro";
}


    <div class="container">
        <form action="/usuario/cadastro" method="post">

            <div class="form-group">
                <label for="campo-nome">Nome da Marca</label>
                <input class="form-control col-12 " id="campo-nome" name="nome" required="required" type="text" placeholder="Marca" />
            </div>
        </form>

        <form action="/cliente/cadastro" method="post">
            <div>

                <button type="button" class="btn btn-outline-success float-right " id="botao-marca-salvar"><i class="fas fa-save"></i>Cadastrar</button>

            </div>
        </form>

        <table class="table table-striped table-bordered table-hover form-group" id="tabela-marcas">
            <thead class="thead-dark">
                <tr>
                    <th>Código</th>
                    <th>Marca</th>
                    <th>Ação</th>
                </tr>
            </thead>

            <tbody></tbody>
        </table>
    </div>







@section Scripts{
    s
    <script src="~/Scripts/marca/cadastro-marca.js"></script>
}

