
@{
    ViewBag.Title = "Editar";
}

<h3>Editar Categoria</h3>

<form action="@Url.Action("Editar")" method="post">
    <input type="hidden" name="id" value="@ViewBag.Marca.Id" />
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo-nome">Marca</label>
                <input type="text" name="nome" class="form-control" id="campo-nome" value="@ViewBag.Categoria.Nome" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <button type="submit" class="btn btn-success float-right">
                <i class="fas fa-save"></i> Salvar
            </button>
        </div>
    </div>
</form>


