
@{
    ViewBag.Title = "Cadastro";
    Layout = null;
}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="bootstrap material admin template">
    <meta name="author" content="">

    <title>City Of Drinks | Cliente</title>

    <link rel="apple-touch-icon" href="~/Content/tema/assets/images/apple-touch-icon.png">
    <link rel="shortcut icon" href="~/Content/tema/assets/images/favicon.ico">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/Content/tema/global/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/tema/global/css/bootstrap-extend.min.css">
    <link rel="stylesheet" href="~/Content/tema/assets/css/site.min.css">

    <!-- Plugins -->
    <link rel="stylesheet" href="~/Content/tema/global/vendor/animsition/animsition.css">
    <link rel="stylesheet" href="~/Content/tema/global/vendor/asscrollable/asScrollable.css">
    <link rel="stylesheet" href="~/Content/tema/global/vendor/switchery/switchery.css">
    <link rel="stylesheet" href="~/Content/tema/global/vendor/intro-js/introjs.css">
    <link rel="stylesheet" href="~/Content/tema/global/vendor/slidepanel/slidePanel.css">
    <link rel="stylesheet" href="~/Content/tema/global/vendor/flag-icon-css/flag-icon.css">
    <link rel="stylesheet" href="~/Content/tema/global/vendor/waves/waves.css">
    <link rel="stylesheet" href="~/Content/tema/global/vendor/chartist/chartist.css">
    <link rel="stylesheet" href="~/Content/tema/global/vendor/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="~/Content/tema/global/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.css">
    <link rel="stylesheet" href="~/Content/tema/assets/examples/css/dashboard/v1.css">


    <!-- Fonts -->
    <link rel="stylesheet" href="~/Content/tema/global/fonts/material-design/material-design.min.css">
    <link rel="stylesheet" href="~/Content/tema/global/fonts/brand-icons/brand-icons.min.css">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>

    <!--Locastyle para mascara-->
    <link rel="stylesheet" type="text/css" href="//assets.locaweb.com.br/locastyle/2.0.6/stylesheets/locastyle.css">

    <!--[if lt IE 9]>
      <script src="~/Content/tema/global/vendor/html5shiv/html5shiv.min.js"></script>
      <![endif]-->
    <!--[if lt IE 10]>
      <script src="~/Content/tema/global/vendor/media-match/media.match.min.js"></script>
      <script src="~/Content/tema/global/vendor/respond/respond.min.js"></script>
      <![endif]-->
    <!-- Scripts -->
    <script src="../../../global/vendor/breakpoints/breakpoints.js"></script>
    <script>
        Breakpoints();
    </script>


</head>


<body class="animsition page-login layout-full page-dark">
    <!--[if lt IE 8]>
          <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
    <!-- Page -->



    <!-- End Page -->
    <!-- Footer -->
    <!-- Core  -->
    <script src="~/Content/tema/global/vendor/babel-external-helpers/babel-external-helpers.js"></script>
    <script src="~/Content/tema/global/vendor/jquery/jquery.js"></script>
    <script src="~/Content/tema/global/vendor/popper-js/umd/popper.min.js"></script>

    <!--Locastyle para mascara-->
    <script type="text/javascript" src="//assets.locaweb.com.br/locastyle/2.0.6/javascripts/locastyle.js"></script>

    <script src="~/Content/tema/global/vendor/bootstrap/bootstrap.js"></script>
    <script src="~/Content/tema/global/vendor/animsition/animsition.js"></script>
    <script src="~/Content/tema/global/vendor/mousewheel/jquery.mousewheel.js"></script>
    <script src="~/Content/tema/global/vendor/asscrollbar/jquery-asScrollbar.js"></script>
    <script src="~/Content/tema/global/vendor/asscrollable/jquery-asScrollable.js"></script>
    <script src="~/Content/tema/global/vendor/waves/waves.js"></script>

    <!-- Plugins -->
    <script src="~/Content/tema/global/vendor/switchery/switchery.js"></script>
    <script src="~/Content/tema/global/vendor/intro-js/intro.js"></script>
    <script src="~/Content/tema/global/vendor/screenfull/screenfull.js"></script>
    <script src="~/Content/tema/global/vendor/slidepanel/jquery-slidePanel.js"></script>


    <!-- Scripts -->
    <script src="~/Content/tema/global/js/Component.js"></script>
    <script src="~/Content/tema/global/js/Plugin.js"></script>
    <script src="~/Content/tema/global/js/Base.js"></script>
    <script src="~/Content/tema/global/js/Config.js"></script>

    <script src="~/Content/tema/assets/js/Section/Menubar.js"></script>
    <script src="~/Content/tema/assets/js/Section/Sidebar.js"></script>
    <script src="~/Content/tema/assets/js/Section/PageAside.js"></script>
    <script src="~/Content/tema/assets/js/Plugin/menu.js"></script>

    <!-- Config -->
    <script src="~/Content/tema/global/js/config/colors.js"></script>
    <script src="~/Content/tema/assets/js/config/tour.js"></script>
    <script>Config.set('assets', 'assets');</script>

    <!-- Page -->
    <script src="~/Content/tema/assets/js/Site.js"></script>
    <script src="~/Content/tema/global/js/Plugin/asscrollable.js"></script>
    <script src="~/Content/tema/global/js/Plugin/slidepanel.js"></script>
    <script src="~/Content/tema/global/js/Plugin/switchery.js"></script>
    <script src="~/Content/tema/global/js/Plugin/matchheight.js"></script>
    <script src="~/Content/tema/global/js/Plugin/jvectormap.js"></script>
    <script src="~/Content/tema/global/js/Plugin/peity.js"></script>

    <script src="~/Content/tema/assets/examples/js/dashboard/v1.js"></script>

</body>

<div class="container">
    <form action="@Url.Action("Store")" method="post">
        <h2 class="col-md-12 text-center text-light">Cadastro</h2>
        <br />
        <div class="row">

            <div class="col-6">

                <div class="form-group">
                    <label for="campo-nome">Seu Nome</label>
                    <input class="form-control" id="campo-nome" name="nome" required="required" type="text" placeholder="Ex: Daniel" />
                </div>
            </div>

            <div class="col-6">

                <div class="form-group">
                    <label for="campo-dataNascimento">Data de Nascimento</label>
                    <input class="form-control" data-mask="00/00/0000" id="campo-dataNascimento" name="dataNascimento" required="required" type="text" placeholder="Ex: 25/04/1994" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="campo-cpf">Cpf</label>
                    <input class="form-control" data-mask="000.000.000-00" id="campo-cpf" name="cpf" required="required" type="text" placeholder="Ex: 001.101.111-00" />
                </div>
            </div>

            <div class="col-6">

                <div class="form-group">
                    <label for="campo-telefone">Telefone</label>
                    <input class="form-control" id="campo-telefone" data-mask="(00) 00000-0000" name="telefone" required="required" type="text" placeholder="Ex: (47) 33547-8196" />
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-6">

                <div class="form-group">
                    <label for="campo-usuario">Usuário</label>
                    <input class="form-control" id="campo-usuario" name="usuario" required="required" type="text" placeholder="Ex: DanielDaSilva" />
                </div>
            </div>

            <div class="col-6">

                <div class="form-group">
                    <label for="campo-email">E-mail</label>
                    <input class="form-control" id="campo-email" name="email" required="required" type="email" placeholder="Ex: abc@gmail.com" />
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-6">

                <div class="form-group">
                    <label for="campo-senha">Senha</label>
                    <input class="form-control" id="campo-senha" name="senha" required="required" type="password" placeholder="Ex: ******" />

                </div>
            </div>
            <div class="col-6">
                <br />
                <br />
                <button class="btn btn-success float-right m-5" type="submit"><i class="fas fa-save"></i>Cadastrar</button>


            </div>

        </div>
    </form>
</div>



