
@{
    ViewBag.Title = "Index";

}

<div class="container card-deck">

    <article class="flex flex-column">
        <h2>Destaques da Loja</h2>
        <span class="subtitle">Confira os produtos que tiveram mais saída nos últimos dias.</span>
        <div class="flex cards-pane">
            <div class="card flex flex-column align-center" style="margin-left: 0;">
                <div class="card-deck">
                    <img src="~/Content/Smirnoff.jpg" />
                </div>
                <span class="card-title">Smirnoff</span>
                <span class="card-categorie">Vodka</span>
                <button>Detalhes</button>
            </div>

            <div class="card flex flex-column align-center">
                <div class="card-deck">
                    <img src="~/Content/Dell Vale de Laranja.jpg" />
                </div>
                <span class="card-title">Dell Vale</span>
                <span class="card-categorie">Suco</span>
                <button>Detalhes</button>
            </div>

            <div class="card flex flex-column align-center">
                <div class="card-deck">
                    <img src="~/Content/Skol.jpg" />
                </div>
                <span class="card-title">Skol</span>
                <span class="card-categorie">Cerveja</span>
                <button>Detalhes</button>

            </div>
            <div class="card flex flex-column align-center">
                <div class="card-deck">
                    <img src="~/Content/JackDaniels.jpg" />
                </div>
                <span class="card-title">Jack Daniels</span>
                <span class="card-categorie">Whisky</span>
                <button>Detalhes</button>

            </div>
            <div class="card flex flex-column align-center">
                <div class="card-deck">
                    <img src="~/Content/Pepsii.jpg" />
                </div>
                <span class="card-title">Pepsi</span>
                <span class="card-categorie">Refrigerante</span>
                <button>Detalhes</button>

            </div>
            <div class="card flex flex-column align-center">
                <div class="card-deck">
                    <img src="~/Content/taça1.jpg" />
                </div>
                <span class="card-title">Taça</span>
                <span class="card-categorie">Acessórios</span>
                <button>Detalhes</button>
            </div>
        </div>
    </article>
    <article class="flex flex-column">
        <h2>Promoções</h2>
        <span class="subtitle">Fizemos uma seleção de produtos com preços especiais para você.</span>
        <div class="flex cards-pane">
            <div class="card flex flex-column align-center" style="margin-left: 0;">
                <div class="card-deck">
                    <img src="~/Content/Absolut.jpg" />
                </div>
                <span class="card-title">Absolut</span>
                <span class="card-categorie">Vodka</span>
                <button>Detalhes</button>
            </div>

            <div class="card flex flex-column align-center">
                <div class="card-deck">
                    <img src="~/Content/Crystal.jpg" />
                </div>
                <span class="card-title">Crystal</span>
                <span class="card-categorie">Água</span>
                <button>Detalhes</button>
            </div>

            <div class="card flex flex-column align-center">
                <div class="card-deck">
                    <img src="~/Content/kaiser.jpg" />
                </div>
                <span class="card-title">Kaiser</span>
                <span class="card-categorie">Cerveja</span>
                <button>Detalhes</button>
            </div>

            <div class="card flex flex-column align-center">
                <div class="card-deck">
                    <img src="~/Content/jonnie.jpg" />
                </div>
                <span class="card-title">Jonnie Walker</span>
                <span class="card-categorie">Whisky</span>
                <button>Detalhes</button>
            </div>

            <div class="card flex flex-column align-center">
                <div class="card-deck">
                    <img src="~/Content/Guarana.jpg" />
                </div>
                <span class="card-title">Guaraná Antarctica</span>
                <span class="card-categorie">Refrigerante</span>
                <button>Detalhes</button>
            </div>

            <div class="card flex flex-column align-center">
                <div class="card-deck">
                    <img src="~/Content/heineken.jpg" />
                </div>
                <span class="card-title">Heineken</span>
                <span class="card-categorie">Cerveja</span>
                <button>Detalhes</button>
            </div>
        </div>
    </article>
</div>