
@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" href="~/Content/card-styles/cardstyles.css" />

<form action="@Url.Action("Store")" method="post">
    <div class="card-container">






        <div class="row">

            <div class="col-2">
                <div class="card">
                    <img class="card-img-top " src="~/Content/oi.png" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Skol</h4>
                        <p class="card-text">
                            A cerveja Skol é uma cerveja clara, com aroma refinado e sabor leve e suave. Cerveja Skol é jovem, ousada, irreverente, é a marca referência em eventos e a mais inovadora: foi a primeira cerveja em lata e lata de alumínio do país, a pioneira em garrafa long neck.
                        </p>
                    </div>
                    <ul class="list-group list-group-dividered px-20 mb-0">
                        <li class="list-group-item px-0">Fardo com 12 unidades</li>
                        <li class="list-group-item px-0">350 ml / cada</li>
                        
                        <li class="list-group-item px-0">R$20,50</li>
                    </ul>
                    <div class="">
                        <a class="btn btn-outline-success float-lg-right" href="/Compra/index"><i class="fas fa-shopping-cart"></i> Comprar</a>
                        <a class="btn btn-outline-warning float-lg-right" href="#"><i class="fas fa-plus mr-3"></i> Adicionar no Carrinho</a>
                    </div>
                </div>
            </div>

            <div class="col-2 ml-4">
                <div class="card">
                    <img class="card-img-top " src="~/Content/de.jpg" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Proibida</h4>
                        <p class="card-text">
                            A Proibida é uma cerveja brasileira, inspirada na região de Plzen, na República Tcheca, onde nasceu o estilo “Pilsen”. Seguindo os padrões europeus, utiliza em sua fórmula malte e lúpulo importado, além de água de excelente qualidade.
                        </p>
                    </div>
                    <ul class="list-group list-group-dividered px-20 mb-0">
                        <li class="list-group-item px-0">Fardo com 12 unidades</li>
                        <li class="list-group-item px-0">350 ml / cada</li>
                        <li class="list-group-item px-0">R$27,90</li>
                    </ul>
                    <div class="row">
                        <a class="btn btn-outline-success float-lg-right" href="/Compra/index"><i class="fas fa-shopping-cart mr-3"></i> Comprar</a>

                        <a class="btn btn-outline-warning float-lg-right" href="#"><i class="fas fa-plus mr-3"></i> Adicionar no Carrinho</a>
                    </div>
                </div>
            </div>



            <div class="col-2 ml-4">
                <div class="card">
                    <img class="card-img-top " src="~/Content/aasa.jpg" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Brahma</h4>
                        <p class="card-text">
                            A Brahma é clara, brilhante, transparente e internacionalmente conhecida como uma cerveja de excelente qualidade. É mais leve, com paladar clássico da baixa fermentação e tem sabor encorpado, aroma neutro, amargor menos acentuado e médio teor alcoólico.
                        </p>
                    </div>
                    <ul class="list-group list-group-dividered px-20 mb-0">
                        <li class="list-group-item px-0">Fardo com 12 unidades</li>
                        <li class="list-group-item px-0">350 ml / cada</li>
                        <li class="list-group-item px-0">R$31,09</li>
                    </ul>
                    <div class="row">
                        <a class="btn btn-outline-success float-lg-right" href="/Compra/index"><i class="fas fa-shopping-cart mr-3"></i> Comprar</a>

                        <a class="btn btn-outline-warning float-lg-right" href="#"><i class="fas fa-plus mr-3"></i> Adicionar no Carrinho</a>
                    </div>
                </div>
            </div>



            <div class="col-2 ml-4">
                <div class="card">
                    <img class="card-img-top " src="~/Content/mog.jpg" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Itaipava</h4>
                        <p class="card-text">
                            Produzida com ingredientes 100% selecionados, água 100% cristalina e respeitando o tempo certo, a Itaipava é uma cerveja clara, leve, saborosa e refrescante. A família Itaipava é composta por: Pilsen, Premium, Malzbier, Zero Álcool, além do Chopp (claro e escuro) e Black.
                        </p>
                    </div>
                    <ul class="list-group list-group-dividered px-20 mb-0">
                        <li class="list-group-item px-0">Fardo com 12 unidades</li>
                        <li class="list-group-item px-0">350 ml / cada</li>
                        <li class="list-group-item px-0">R$22,80</li>
                    </ul>
                    <div class="row">
                        <a class="btn btn-outline-success float-lg-right" href="/Compra/index"><i class="fas fa-shopping-cart mr-3"></i> Comprar</a>

                        <a class="btn btn-outline-warning float-lg-right" href="#"><i class="fas fa-plus mr-3"></i> Adicionar no Carrinho</a>
                    </div>
                </div>
            </div>



            <div class="col-2">
                <div class="card">
                    <img class="card-img-top " src="~/Content/add.jpg" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Antartica</h4>
                        <p class="card-text">
                            Como toda típica cerveja do tipo pilsen, ANTARCTICA é clara e tem baixa fermentação. Tem aroma, sabor e amargor suaves. É uma clássica cerveja pilsen que combina tradição e qualidade há mais de um século.
                        </p>
                    </div>
                    <ul class="list-group list-group-dividered px-20 mb-0">
                        <li class="list-group-item px-0">Fardo com 12 unidades</li>
                        <li class="list-group-item px-0">350 ml / cada</li>
                        <li class="list-group-item px-0">R$39,90</li>
                    </ul>
                    <div class="row">
                        <a class="btn btn-outline-success float-lg-right" href="/Compra/index"><i class="fas fa-shopping-cart mr-3"></i> Comprar</a>

                        <a class="btn btn-outline-warning float-lg-right" href="#"><i class="fas fa-plus mr-3"></i> Adicionar no Carrinho</a>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-2">
                <div class="card">
                    <img class="card-img-top " src="~/Content/kaiser.jpg" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Kaiser</h4>
                        <p class="card-text">
                            Cerveja Pilsen produzida com ingredientes criteriosamente selecionados, a Kaiser é refrescante, suave, saborosa e reflete com perfeição o espírito democrático e divertido dos bares brasileiros.
                        </p>
                    </div>
                    <ul class="list-group list-group-dividered px-20 mb-0">
                        <li class="list-group-item px-0">Fardo com 12 unidades</li>
                        <li class="list-group-item px-0">350 ml / cada</li>
                        <li class="list-group-item px-0">R$28,67</li>
                    </ul>
                    <div class="row">
                        <a class="btn btn-outline-success float-lg-right" href="/Compra/index"><i class="fas fa-shopping-cart mr-3"></i> Comprar</a>

                        <a class="btn btn-outline-warning float-lg-right" href="#"><i class="fas fa-plus mr-3"></i> Adicionar no Carrinho</a>
                    </div>
                </div>
            </div>


            <div class="col-2">
                <div class="card">
                    <img class="card-img-top " src="~/Content/hei.jpg" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Heineken</h4>
                        <p class="card-text">
                            Reconhecida mundialmente pela garrafa verde, a estrela vermelha e seus eventos esportivos que patrocina, a cerveja holandesa vem mantido o sucesso entre jovens e adultos com uma receita que mantém o alto padrão de qualidade há mais de 140 anos.
                        </p>
                    </div>
                    <ul class="list-group list-group-dividered px-20 mb-0">
                        <li class="list-group-item px-0">Fardo com 12 unidades</li>
                        <li class="list-group-item px-0">350 ml / cada</li>
                        <li class="list-group-item px-0">R$48,90</li>
                    </ul>
                    <div class="row">
                        <a class="btn btn-outline-success float-lg-right" href="/Compra/index"><i class="fas fa-shopping-cart mr-3"></i> Comprar</a>

                        <a class="btn btn-outline-warning float-lg-right" href="#"><i class="fas fa-plus mr-3"></i> Adicionar no Carrinho</a>
                    </div>
                </div>
            </div>



            <div class="col-2">
                <div class="card">
                    <img class="card-img-top " src="~/Content/barril.png" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Heineken</h4>
                        <p class="card-text">
                            Reconhecida mundialmente pela garrafa verde, a estrela vermelha e seus eventos esportivos que patrocina, a cerveja holandesa vem mantido o sucesso entre jovens e adultos com uma receita que mantém o alto padrão de qualidade há mais de 140 anos.
                        </p>
                    </div>
                    <ul class="list-group list-group-dividered px-20 mb-0">
                        <li class="list-group-item px-0">Barril</li>
                        <li class="list-group-item px-0">5 Litros</li>
                        <li class="list-group-item px-0">R$79,90</li>
                    </ul>
                    <div class="row">
                        <a class="btn btn-outline-success float-lg-right" href="/Compra/index"><i class="fas fa-shopping-cart mr-3"></i> Comprar</a>

                        <a class="btn btn-outline-warning float-lg-right" href="#"><i class="fas fa-plus mr-3"></i> Adicionar no Carrinho</a>
                    </div>
                </div>
            </div>




            <div class="col-2">
                <div class="card">
                    <img class="card-img-top " src="~/Content/skin.png" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Skin</h4>
                        <p class="card-text">
                            Principal cerveja da Cervejaria Schincariol, é uma cerveja tipo american lager, leve, não puro malte. Típica "pilsen" brasileira.
                        </p>
                    </div>
                    <ul class="list-group list-group-dividered px-20 mb-0">
                        <li class="list-group-item px-0">Fardo com 12 unidades</li>
                        <li class="list-group-item px-0">350 ml / cada</li>
                        <li class="list-group-item px-0">R$24,30</li>
                    </ul>
                    <div class="row">
                        <a class="btn btn-outline-success float-lg-right" href="/Compra/index"><i class="fas fa-shopping-cart mr-3"></i> Comprar</a>

                        <a class="btn btn-outline-warning float-lg-right" href="#"><i class="fas fa-plus mr-3"></i> Adicionar no Carrinho</a>
                    </div>
                </div>
            </div>


            <div class="col-2">
                <div class="card">
                    <img class="card-img-top " src="~/Content/bavaria.jpg" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Bavaria</h4>
                        <p class="card-text">
                            Bavaria Clássica é uma cerveja produzida seguindo os mais rigorosos padrões de qualidade na fabricação e seleção dos ingredientes. O malte é obtido a partir de sementes de cevada cultivadas nas mais tradicionais regiões produtoras.
                        </p>
                    </div>
                    <ul class="list-group list-group-dividered px-20 mb-0">
                        <li class="list-group-item px-0">Fardo com 12 unidades</li>
                        <li class="list-group-item px-0">350 ml / cada</li>
                        <li class="list-group-item px-0">R$19,10</li>
                    </ul>
                    <div class="row">
                        <a class="btn btn-outline-success float-lg-right" href="/Compra/index"><i class="fas fa-shopping-cart mr-3"></i> Comprar</a>

                        <a class="btn btn-outline-warning float-lg-right" href="#"><i class="fas fa-plus mr-3"></i> Adicionar no Carrinho</a>
                    </div>
                </div>
            </div>

        </div>


        <div class="row">
            <div class="col-2">
                <div class="card">
                    <img class="card-img-top " src="~/Content/Imperio.jpg" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Império</h4>
                        <p class="card-text">
                            Produzida por quem realmente entende de cerveja, Império traz o puro malte, a autenticidade da cerveja pilsen e ingredientes importados. Ou seja: vem com tudo o que você procura em uma cerveja legítima mesmo.
                        </p>
                    </div>
                    <ul class="list-group list-group-dividered px-20 mb-0">
                        <li class="list-group-item px-0">Fardo com 12 unidades</li>
                        <li class="list-group-item px-0">350 ml / cada</li>
                        <li class="list-group-item px-0">R$79,90</li>
                    </ul>
                    <div class="row">
                        <a class="btn btn-outline-success float-lg-right" href="/Compra/index"><i class="fas fa-shopping-cart mr-3"></i> Comprar</a>

                        <a class="btn btn-outline-warning float-lg-right" href="#"><i class="fas fa-plus mr-3"></i> Adicionar no Carrinho</a>
                    </div>
                </div>
            </div>



            <div class="col-2">
                <div class="card">
                    <img class="card-img-top " src="~/Content/Jack.jpg" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Jack Daniels</h4>
                        <p class="card-text">
                            Jack Daniels, o Whisky mais vendido do mundo, é produzido desde 1866, na cidade de Lynchburg, no Tennessee, em uma das mais antigas destilarias dos EUA.Feito com os mais finos e puros grãos e água sem ferro da nossa caverna, Jack Daniel´s é considerado um whiskey único.
                        </p>
                    </div>
                    <ul class="list-group list-group-dividered px-20 mb-0">
                        <li class="list-group-item px-0">Fardo com 12 unidades</li>
                        <li class="list-group-item px-0">350 ml / cada</li>
                        <li class="list-group-item px-0">R$120,09</li>
                    </ul>
                    <div class="row">
                        <a class="btn btn-outline-success float-lg-right" href="/Compra/index"><i class="fas fa-shopping-cart mr-3"></i> Comprar</a>

                        <a class="btn btn-outline-warning float-lg-right" href="#"><i class="fas fa-plus mr-3"></i> Adicionar no Carrinho</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

