
@{
    ViewBag.Title = "Cadastro";
}

<h2>Cadastro</h2>

<div class="container">
    <form action="@Url.Action("Index")" method="post">
        <h2 class="col-md-12 text-center">Cadastro</h2>
        <div class="form-group">
            <label for="campo-nome">Seu nome</label>
            <input class="form-control" id="campo-nome" name="nome" required="required" type="text" placeholder="Nome" />
        </div>

        <div class="form-group">
            <label for="campo-estoque">Data de Validade</label>
            <input class="form-control" data-mask="00/00/0000" id="campo-dataNascimento" name="dataNascimento" required="required" type="text" placeholder="Data de Nascimento" />
        </div>

        <button type="submit" class="btn btn-primary col-md-12">Cadastrar</button>


    </form>
</div>