
@{
    ViewBag.Title = "Login";
    Layout = "";
}



<div class="container-fluid">

    <form action="/login" method="post">
        <h2 class="col-md-12 text-center">Login</h2>
        <div class="form-group">
            <label for="campo-nome"></label>
            <input class="form-control fas fa-user" id="campo-nome" name="nome" required="required" type="text" placeholder="Usuário" />
        </div>
        <div class="form-group">
            <label for="campo-senha"></label>
            <input class="form-control fa fas-key" id="campo-senha" name="senha" required="required" type="password" placeholder="Senha" />
        </div>
        <button type="submit" class="btn btn-outline-success float-lg-right">Entrar</button>
    </form>

</div>


