<!DOCTYPE html>
<body class="animsition dashboard">
    <head>
        <meta charset="utf-8" />
        <title>City Of Drinks</title>
        <link rel="stylesheet" type="text/css" href="~/Content/css/Home.css" />
        <style>
        </style>

    </head>

    <div class="container card-deck">
        <aside id="menu" class="flex flex-column">
            <img id="menuIcon2" src="menu.svg" style="margin-right: 5px; cursor: pointer;" />
            <a href="#">Perfil</a>
            <a href="/Compra/Index">Meu carrinho</a>
            <a href="#">Bebidas</a>
        </aside>
        <header class="flex align-center">
            <div class="flex">
                <img id="menuIcon" src="menu.svg" style="margin-right: 5px; cursor: pointer;" />
                <h3>City Of Drinks</h3>
            </div>
            <div class="flex">
                <button class="header-buttons" id="register">Cadastrar-se</button>
                <button class="header-buttons" id="login">Entrar</button>
            </div>
        </header>
        <main id="main" class="flex flex-column">
            <h1>Boas-Vindas</h1>
            <p style="margin-top: 10px;">Estamos felizes em ver você aqui!</p>
            <p>Role para baixo para navegar por nossa loja.</p>
            <img src="~/Content/arrow.png" />
        </main>
        <section class="flex flex-column">
            <div id="search" class="flex justify">
                <input type="text" placeholder="Faça sua busca aqui...">
                <button>Buscar</button>
            </div>
        </section>
    </div>
</body>




<!-- Page -->
<div class="page">
    <div class="page-content container-fluid">
        <div data-plugin="matchHeight" data-by-row="true">
            @RenderBody()
        </div>
    </div>
</div>



@RenderSection("Scripts", required: false)
    </body>
<footer class="flex" style="justify-content: space-between;">
    <div class="flex flex-column">
        <h2>Contato</h2>
        <span>contato@cof.com</span>
        <span>(47)3322-3344</span>
    </div>
    <div class="flex flex-column">
        <a href="#main">Voltar para o topo</a>
    </div>
    <div class="flex flex-column" style="text-align: right;">
        <h2>Outras Informações</h2>
        <span>R. 7 de Setembro, 1600</span>
        <span>Centro, Blumenau</span>
    </div>
</footer>

<script>
    let menuIcon = document.querySelector("#menuIcon");
    let menuIcon2 = document.querySelector("#menuIcon2");
    let menu = document.querySelector("#menu");
    function menuAnimation(left, animation) {
        menu.classList.add(animation);
        menu.addEventListener("animationend", () => {
            menu.style.left = left;
            menu.classList.remove(animation);
        })
    }
    menuIcon.addEventListener("click", () => {
        menuAnimation(0, "slide");
    })
    menuIcon2.addEventListener("click", () => {
        menuAnimation("-200px", "slide-reverse");
    })
</script>



