
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <table>
        <tr>
            <td>Produto</td>
            <td>Valor</td>
            <td>Acessorios</td>
        </tr>
    </table>
</div>