@{
    ViewBag.Title = "Index";
}

<form action="@Url.Action("Store")" method="post">

    <div class="row">
        <div class="col-2">
            <div class="card" style="width: 12rem">
                <div class="card-body">
                    <img src="~/Content/oi.png" class="card-img-top" alt="...">
                    <h5 class="card-title">Skol</h5>
                    <p class="tex">Fardo com 12 unidades</p>
                    <br />
                    <br />
                    <p class="card-text">R$20,50</p>
                    <a  class="btn btn-outline-warning" href="#" >Comprar</a>
                </div>
            </div>
        </div>

        <div class="col-2">
            <div class="card" style="width: 12rem">
                <div class="card-body">
                    <img src="~/Content/de.jpg" class="card-img-top" alt="...">
                    <h5 class="card-title">Proibida</h5>
                    <p class="tex">Fardo com 12 unidades</p>
                    <br />
                    <p class="card-text">R$27,90</p>
                    <a href="#" class="btn btn-outline-warning">Comprar</a>
                </div>
            </div>
        </div>

        <div class="col-2">
            <div class="card" style="width: 12rem">
                <div class="card-body">
                    <img src="~/Content/aasa.jpg" class="card-img-top" alt="...">
                    <h5 class="card-title">Brahma</h5>
                    <p class="tex">Fardo com 12 unidades</p>
                    <br />
                    <br />
                    <p class="card-text">R$31,09</p>
                    <a href="#" class="btn btn-outline-warning">Comprar</a>
                </div>
            </div>
        </div>

        <div class="col-2">
            <div class="card" style="width: 12rem">
                <div class="card-body">
                    <img src="~/Content/mog.jpg" class="card-img-top" alt="...">
                    <h5 class="card-title">Itaipava</h5>
                    <p class="tex">Fardo com 12 unidades</p>
                    <br />
                    <p class="card-text">R$22,80</p>
                    <a href="#" class="btn btn-outline-warning">Comprar</a>
                </div>
            </div>
        </div>

        <div class="col-2">
            <div class="card" style="width: 12rem">
                <div class="card-body">
                    <img src="~/Content/add.jpg" class="card-img-top" alt="...">
                    <h5 class="card-title">Antartica</h5>
                    <p class="text">Fardo com 12 unidades</p>
                    <br />
                    <p class="card-text">R$39,90</p>
                    <a href="#" class="btn btn-outline-warning">Comprar</a>
                </div>
            </div>
        </div>

        <div class="col-2">
            <div class="card" style="width: 12rem">
                <div class="card-body">
                    <img src="~/Content/kaiser.jpg" class="card-img-top" alt="...">
                    <h5 class="card-title">Kaiser</h5>
                    <p class="text">Fardo com 12 unidades</p>
                    <br />
                    <p class="card-text">R$28,67</p>
                    <a href="#" class="btn btn-outline-warning">Comprar</a>
                </div>
            </div>
        </div>

        <div class="col-2">
            <div class="card" style="width: 12rem">
                <div class="card-body">
                    <img src="~/Content/hei.jpg" class="card-img-top" alt="...">
                    <h5 class="card-title">Heineken</h5>
                    <p class="text">Fardo com 12 unidades</p>
                    <br />
                    <br />
                    <p class="card-text">R$48,90</p>
                    <a href="#" class="btn btn-outline-warning">Comprar</a>
                </div>
            </div>
        </div>

        <div class="col-2">
            <div class="card" style="width: 12rem">
                <div class="card-body">
                    <img src="~/Content/barril.png" class="card-img-top" alt="...">
                    <h5 class="card-title">Heineken</h5>
                    <p class="text">Barril 5 litros</p>
                    <br />
                    <br />
                    <p class="card-text">R$79,90</p>
                    <a href="#" class="btn btn-outline-warning">Comprar</a>
                </div>
            </div>
        </div>

        <div class="col-2">
            <div class="card" style="width: 12rem">
                <div class="card-body">
                    <img src="~/Content/skin.png" class="card-img-top" alt="...">
                    <h5 class="card-title">Skin</h5>
                    <p class="text">Fardo com 12 unidades</p>
                    <br />
                    <br />
                    <p class="card-text">R$24,30</p>
                    <a href="#" class="btn btn-outline-warning">Comprar</a>
                </div>
            </div>
        </div>

        <div class="col-2">
            <div class="card" style="width: 12rem">
                <div class="card-body">
                    <img src="~/Content/bavaria.jpg" class="card-img-top" alt="...">
                    <h5 class="card-title">Bavaria</h5>
                    <p class="text">Fardo com 12 unidades</p>
                    <br />
                    <br />
                    <br />
                    <p class="card-text">R$19,10</p>
                    <a href="#" class="btn btn-outline-warning">Comprar</a>
                </div>
            </div>
        </div>

        <div class="col-2">
            <div class="card" style="width: 12rem">
                <div class="card-body">
                    <img src="~/Content/Imperio.jpg" class="card-img-top" alt="...">
                    <h5 class="card-title">império</h5>
                    <p class="text">Fardo com 12 unidades</p>
                    <br />
                    <br />
                    <p class="card-text">R$79,90</p>
                    <a href="#" class="btn btn-outline-warning">Comprar</a>
                </div>
            </div>
        </div>

        <div class="col-2">
            <div class="card" style="width: 12rem">
                <div class="card-body">
                    <img src="~/Content/Jack.jpg" class="card-img-top" alt="...">
                    <h5 class="card-title">Jack Daniels</h5>
                    <p class="tex"></p>
                    <p class="card-text">R$120,09</p>
                    <a href="#" class="btn btn-outline-warning">Comprar</a>
                </div>
            </div>
        </div>

    </div>
</form>
