
@{
    ViewBag.Title = "Cadastro";
}

    <form action="@Url.Action("Store")" method="post">
        <div class="container">
            <h2 class="col-md-12 text-center">Acessorios</h2>


            <div class="form-group">
                <label for="campo-nome">Acessorio</label>
                <input id="campo-nome" name="nome" class="form-control" required="required" type="text" placeholder="Digite o nome do acessório " />

            </div>

            <div class="form-group">
                <label for="campo-preco">Preço</label>
                <input id="campo-preco" name="preco" class="form-control" required="required"  onkeypress="$(this).mask('999,99')" type="text" placeholder="Digite o preço do Acessório" />

            </div>

            <div class="form-group">
                <label for="acessorio-cadastro-tipo">Marca</label>
                <select class="form-control" id="campo-tipo" name="idTipo" required="required">
                    <option disabled selected>Escolha o Tipo da Bebida</option>
                    @foreach (Model.Tipo tipo in ViewBag.Tipos)
                    {
                        <option value="@tipo.Id">@tipo.Nome</option>
                    }
                </select>
            </div>

            <button type="submit" class="btn btn-outline-success float-lg-right">Cadastrar</button>

            <div class="row">
                <div class="col-12">
                    <a class="btn btn-outline-success float-right" href="@Url.Action("Index")">Ir para lista de Tipos</a>
                </div>
            </div>
        </div>
    </form>

